.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0b0000;
  height: 10%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  width: 25%;
}
.header a {
  text-decoration: none;
}
.header .menu_link {
  padding-left: 30px;
  color: #fff;
}
.header .menu_link:hover {
  color: #fffb;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slider_content {
  width: 15%;
}
.slider .slider_content .slider_title {
  font-family: URW Chancery INITIAL;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 3px;
}
.slider .slider_content .slider_text {
  font-size: 16px;
  line-height: 18px;
  font-family: URW Chancery INITIAL;
  font-style: italic;
  margin-top: 3px;
  color: #575252;
}
.slider .slider_img {
  width: 50%;
}
.slider .slider_img .img {
  width: 100%;
  margin: auto;
}

.content_body {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content_body .blok_left {
  width: 33%;
  font-size: 16px;
  line-height: 18px;
}
.content_body .blok_right {
  margin-left: 100px;
  width: 33%;
}

.block_text {
  font-size: 16px;
  line-height: 18px;
  font-family: URW Chancery INITIAL;
  font-style: italic;
  color: #575252;
}

.block_title {
  font-family: URW Chancery INITIAL;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
}

.form_title {
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
}

.contact_forms {
  padding-bottom: 150px;
}
.contact_forms input {
  height: 5%;
  width: 30%;
}
.contact_forms .form_element {
  padding-top: 20px;
}
.contact_forms .btn_form {
  height: 5%;
  width: 25%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #0b0000;
  height: auto;
  width: 100%;
}
.footer .footer_blok_left {
  margin-left: 15%;
  width: 50%;
}
.footer .footer_blok_right {
  margin-right: 15%;
  width: 50%;
}
.footer .title_footer {
  color: #fff;
  font-family: URW Chancery INITIAL;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 5px;
}
.footer .content_footer {
  margin-top: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-family: URW Chancery INITIAL;
  font-style: italic;
}